html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* All properties are light theme */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
    background-color: #f6e4ea;
    color: #1f0a11 !important;
}

.custom-border {
    border-color: #2d8b6a; /* Replace with your desired color */
}


.navbar {
    background-color: #2d8b6a;
}

/* Buttons light theme */
.btn-primary {
    color: #1f0a11;
    background-color: #2d8b6a;
    text-align: center;
    border-color: #2d8b6a;
    justify-content: center;
}

 .btn-primary:hover {
    background-color: #56c867;
    border-color: #56c867;
 }

/* Vierkantachtige buttons */
.btn-sqr {
    width: 150px;
    height: 150px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}



@media (min-width: 768px) {
    .main-content {
        margin-left: 280px; /* Dezelfde breedte als de sidebar */
    }
}

@media (max-width: 767.98px) {
    .main-content {
        margin-left: 0;
    }
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px; /* of een andere breedte naar keuze */
    overflow-y: auto; /* voor scrollen indien nodig */
    z-index: 1000; 
}


    /* Stijl voor actieve link */
    .sidebar .nav-link.active {
        color: #2d8b6a; /* Kleur voor actieve link */
    }

    .sidebar .nav .custom-item {
        color: #2d8b6a;
        background-color: #2d8b6a;
        margin-block: 10px;
    }

.sidebar .nav .nav-item .custom-nav-link {
    color: #f8f9fa;
}

.sidebar .nav .nav-item .custom-nav-link:hover {
    color: #000000;
}

.sidebar .nav .nav-item .custom-nav-link.active {
    color: #000000;
}


/* Sidebar stijlen */
.bg-light {
    background-color: #f8f9fa !important; /* Achtergrondkleur */
}

.nav-link {
    color: #2d8b6a; /* Tekstkleur */
}

    .nav-link:hover {
        color: #007bff; /* Hover kleur */
    }

    /* Active link stijl */
    .nav-link.active {
        color: #007bff;
        background-color: #2d8b6a;
    }

/* Aanpassingen voor betere leesbaarheid */
.nav-pills .nav-link {
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

/* Separator stijl */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}



/* Tables light theme */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d8b6a;
}

table tr:nth-child(even) {
    background-color: #c1e5eb;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.logout-container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
}

.logout-header {
    margin-bottom: 20px;
}

.logout-content {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.logout-form .btn-logout {
    background-color: #2d8b6a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .logout-form .btn-logout:hover {
        background-color: #45a049;
    }

.logout-message {
    color: #333;
    font-size: 18px;
}

.my-title {
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Provides space between the title and the content below */
}


