@{
    ViewBag.Title = "Archief Studiebezoeken";
}

<div class="container mt-5">
    <h2 class="mb-4">Studiebezoeken Archief</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam Aanvrager</th>
                <th>Datum Studiebezoek</th>
                <th>Vak</th>
                <th>Kostprijs</th>
            </tr>
        </thead>
        <tbody>
            <tr data-naam="Jefke" data-datum="12-12-2002" data-vak="Wiskunde" data-kostprijs="100$">
                <td>Jefke</td>
                <td>12-12-2002</td>
                <td>Wiskunde</td>
                <td>100$</td>
            </tr>
        </tbody>
    </table>
</div>

