@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photo Albums";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <!-- Example of a single album; replicate this block for each album -->
        <div class="col-md-4">
            <div class="card">
                <img src="path_to_album_thumbnail.jpg" class="card-img-top" alt="Album Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Add Album</h5>
                    <p class="card-text">Some description of the album...</p>
                    <a href="@Url.Action("Toevoegen", "Fotoalbum")" class="btn btn-primary">Add Album</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="path_to_album_thumbnail.jpg" class="card-img-top" alt="Album Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Album Title</h5>
                    <p class="card-text">Some description of the album...</p>
                    <a href="@Url.Action("Bewerken", "Fotoalbum")" class="btn btn-primary">Edit Album</a>
                    <a href="@Url.Action("Verwijderen", "Fotoalbum")" class="btn btn-primary">Verwijder Album</a>
                </div>
            </div>
        </div>
        <!-- Repeat the above block for each album -->
    </div>
</div>

@section Scripts {
    <!-- Include any additional scripts here -->
}
