@{
    ViewBag.Title = "Gebruikers Formulier";
}
<div class="container mt-5">
    <h2 class="mb-4">Gebruiker Aanmaken</h2>

    <form>
        <div class="form-group col-md-6">
            <label for="naamAanvrager">Naam:</label>
            <input type="text" class="form-control" id="naamAanvrager" name="naamAanvrager">
        </div>

        <div class="form-group col-md-6">
            <label for="voornaamAanvrager">Voornaam:</label>
            <input type="text" class="form-control" id="voornaamAanvrager" name="voornaamAanvrager">
        </div>

        <div class="form-group col-md-6">
            <label for="initiaalAanvrager">Initialen:</label>
            <input type="text" class="form-control" id="initiaalAanvrager" name="initiaalAanvrager">
        </div>

        <div class="form-group col-md-6">
            <label for="gebruikersnaamAanvrager">Gebruikersnaam:</label>
            <input type="text" class="form-control" id="gebruikersnaamAanvrager" name="gebruikersnaamAanvrager">
        </div>

        <div class="form-group col-md-6">
            <label for="passwoordAanvrager">Passwoord:</label>
            <input type="password" class="form-control" id="passwoordAanvrager" name="passwoordAanvrager">
        </div>

        <div class="form-group col-md-6">
            <label for="emailAanvrager">Email:</label>
            <input type="email" class="form-control" id="emailAanvrager" name="emailAanvrager">
        </div>

        <button style="margin-top:15px;" type="submit" class="btn btn-primary">Verstuur</button>
    </form>
</div>
