html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* All properties are light theme */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
    background-color: #f6e4ea;
    color: #1f0a11 !important;
}

.navbar {
    background-color: #2d8b6a;
}

/* Buttons light theme */
.btn-primary {
    color: #1f0a11;
    background-color: #2d8b6a;
    text-align: center;
    border-color: #2d8b6a;
    justify-content: center;
}

 .btn-primary:hover {
    background-color: #56c867;
    border-color: #56c867;
 }

/* Vierkantachtige buttons */
.btn-sqr {
    width: 150px;
    height: 150px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

/* Tables light theme */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2d8b6a;
}

table tr:nth-child(even) {
    background-color: #c1e5eb;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

