@{
    ViewBag.Title = "Vak Formulier";
}
<div class="container mt-5">
    <h2 class="mb-4">Vak Aanpassen</h2>

    <form>
        <div class="form-group col-md-6">
            <label for="naamVak">Naam Vak:</label>
            <input type="text" class="form-control" id="naamVak" name="naamVak">
        </div>

        <button style="margin-top:15px;" type="submit" class="btn btn-primary">Verstuur</button>
    </form>
</div>
