/* Header styles */
/* Header styles */
.header {
  background-color: #1a1a1a; /* Dark background for the header */
  color: #d4af37; /* Gold color for the text */
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Adds a subtle shadow for depth */
}

.header-title {
  font-size: 2.5rem; /* Larger font size for the title */
  font-weight: bold;
  text-transform: uppercase; /* Stylistic choice for uppercase letters */
}

/* Continue with existing styles... */


/* Main content area */
.main-content {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

/* Footer styles */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Responsive grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Card design */
.card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Buttons and form inputs */
.button, input, select {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 5px;
}

.button {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

/* Page styles */
.page-style {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

/* Carousel styles */
.carousel-container {
  margin-bottom: 20px;
  background-color: #1a1a1a;
  color: #fff;
}

.carousel-slide {
  position: relative;
}

.carousel-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.carousel-title {
  font-size: 2rem; /* Larger font size for better visibility */
  color: #ffffff; /* Gold color for the title */
  text-align: center;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the size of the title itself */
  width: 100%;
  z-index: 2; /* Ensure the title is above the images */
  pointer-events: none; /* Allows clicking through the title if necessary */
}

/* Search styles */
.search-container {
  text-align: center;
  margin-bottom: 2rem;
}

.search-input {
  width: 50%;
  min-width: 250px;
  margin: auto;
}





